{# data: {"items": ["first", "second", "third", "fourth"]} #}
First: {{ items.first }}
Last: {{ items.last }}
Size: {{ items.size }}
Index 0: {{ items[0] }}
Index 2: {{ items[2] }}
Negative: {{ items[-1] }}
